* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* perché non vedo immagine */
header {
    display: flex;
    flex-direction: column;
}

.ulheader {
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1%;
    background-color: #255ee9;
    color: white;
}

/* non riesco a rimpicciolirlo */
.firstbutton {
    background-color: white;
    border: solid 5px transparent;
    padding: 0.1rem 1rem;
    border-radius: 10rem;
    margin: 1rem 2rem;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 7% 15%;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-size: 60px;
    color: white;
}

.jumbotron-paragraph {
    padding-top: 4% 20% 3%;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin: 2% 15%;
}

.downloadbuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.downloadbuttons>button {
    border: solid 10px transparent;
    padding: 0.1rem 1rem;
    border-radius: 10rem;
    margin: 0.5rem 0.5rem;
    font-size: 1rem;
}

/* perché non funziona il colore */
.downloadbuttons > button:last-child {
    background-color: #23272a;
    color: white;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 10%;    
    margin-right: 10%;
}

main>div {
    padding-top: 4rem;
}

.text-main {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 40%;
    margin-left: 2%;
}
.text-main>h1, .quartasezione>h1:first-child {
    text-align: left;
    line-height: 3.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 3rem;
}

.quartasezione>h1:first-child {
    text-align: center;
}

.quartasezione>p, .jumbotron-paragraph {
    text-align: center;
    padding-top: 2rem;
    line-height: 1.5rem;
    font-size: 1.2rem
}

.text-main>p, .quartasezione>h1, .jumbotron-paragraph {
    padding-top: 1rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.img-main {
    width: 60;
    padding-left: 4rem;
}

/* perché ho dovuto specificare row? non è default? */
.primasezione, .terzasezione {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.secondasezione {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.quartasezione {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

/* non riesco a ingrandire l'immagine */
#newadventure {
    background-image: url(../img/stars.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 2rem;
}

#lastbutton, .lastlastsection>button {
    margin: 3rem 32rem;
    border: solid 10px transparent;
    padding: 0.1rem 1rem;
    border-radius: 10rem;
    font-size: 1rem;
    color: white;
    background-color: #7289da;
}

.lastlastsection>button {
    margin: 1rem 2rem;
}

/* messo margine per accorciare br, ma non funziona */
.lastlastsection {
    display: flex;
    justify-content: space-between;
    margin: 1rem 5rem;
    padding-bottom: 5rem; 
}

footer {
    background-color: black;
}

.navigator {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    padding: 3rem;
}

.ulfooter, .textfooter {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.social {
    display: flex;
    flex-direction: row;
}

.language {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.socialnetwork, .ita {
    width: 1rem;
    margin: 1rem;
    vertical-align: middle;
}

.ulheader>li {
    padding: 1.5rem;
    margin: 0.7rem;
}

.ulfooter>li, .pfooter {
    padding: 0.5rem;
}

.pfooter {
    color: #7289da;
    font-weight: bold;
    text-align: left;
}
